.cart {
  padding: 10px;

  &_items {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;

    &_delete {
      border-radius: 5px;
      cursor: pointer;
      font-size: 10px;
      height: 25px;;
    }

    &_image {
      width: 30%;
      height: 30%;
    }

    &_text {
      width: 50px;
    }

    &_item-quantity {
      padding-inline-start: 10px;
      padding-inline-end: 5px;
    }

    &_all-booked-btn {
      display: flex;
      justify-content: flex-end;
    }

  }

}
