.frame{
  display: flex;
  flex-direction: column;
  max-height: 600px;

  &__container{
    display: flex;
    max-height: 250px;
    padding: 15px;
    border-bottom: 1px solid darkgray;
  justify-content: space-around;

  }
  &__detail{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  &__image{
    opacity: 1;
    width: 20%;
    height: 20%;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  &__close-icon {
    width: fit-content;
    float: right;
    height: fit-content;
    padding: 5px;
    line-height: 14px;
    min-width: auto;
    border-radius: 5px;
    background-color: darkgray;
    cursor: pointer;
  }
}
