<div>
  <button
    class="main-container__drawer--btn"
    mat-button color="primary"
    (click)="setActiveCategory.emit({name:'', id:'0'})"
    [ngClass]="{'main-container__drawer--btn-selected': !activeCategory} "
  >
    Home
  </button>
  <div *ngFor="let category of categoryNames">
    <button
      class="main-container__drawer--btn"
      mat-button color="primary"
      (click)="setActiveCategory.emit(category)"
      [ngClass]="{'main-container__drawer--btn-selected': activeCategory===category.name} "
    >
      {{category.name}}
    </button>
  </div>

</div>


