.frame{
  display: flex;
  justify-content: space-between;

  &__detail{
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    row-gap: 5px;
  }
  &__image{
    opacity: 1;
    width: 50%;
    height: 50%;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  &__close-icon {

    float: right;
    height: fit-content;
    padding: 5px;
    line-height: 14px;
    min-width: auto;
    border-radius: 5px;
    background-color: darkgray;
    cursor: pointer;
  }
}
